.catalog {
  overflow: scroll;
  &__inner {
    display: flex;
    gap: 50px;
  }

  &__filter {
    flex: 1;
  }
  &__items {
    flex: 5;
  }
}

.catalog {
  // .catalog__items

  &__items {
    display: flex;
    flex-direction: column;
  }

  // .catalog__item

  &__item {
  }
}
.sort-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: end;
  padding-right: 5px;
  @include mobile {
    margin-top: 15px;
  }
}
.sort-text {
  display: inline-flex;
  img {
    margin-left: 5px;
  }
}
.sorts-list {
  position: absolute;
  top: 25px;
  display: none;
  flex-direction: column;
  padding: 5px;
  background-color: var(--light-color);
  border-radius: 10px;
  gap: 10px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  li {
    transition: all 0.1s linear;
    &:hover {
      background-color: var(--light-gray);
    }
    padding: 10px;
    border-radius: 10px;
    &.active {
      background-color: var(--black);
      color: white;
    }
  }
  &.visible {
    display: flex;
  }
}
.sort {
}
.list-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}
.item {
  &__img {
    width: 100%;
    max-height: 348px;
    height: auto;
    margin-bottom: 10px;
    @include mobile {
      height: 200px;
      background-color: var(--light-gray);
    }
  }
  &-collection {
    color: #9e3500;
    @include mobile {
      font-size: 10px;
    }
  }
  &-title {
    margin: 5px 0;
    font-size: 15px;
    @include mobile {
      font-size: 12px;
      max-width: 80%;
    }
  }
  &-type {
    color: var(--dark-gray);
    font-family: var(--regular-font-family);
    @include mobile {
      font-size: 11px;
    }
  }
  &-price {
    margin-top: 15px;
    @include mobile {
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.filter {
  // .filter_title

  &_title {
    margin-bottom: 20px;
  }
}
.types {
  // .types_list

  &_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 50px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      height: 300px;
      background-color: transparent;
      transition: all 0.2s linear;
    }
    &:hover::-webkit-scrollbar-thumb {
      background-color: var(--light-gray);
      transition: all 0.2s linear;
    }
  }
}
.filter-type {
}
.filter-block {
  margin-bottom: 25px;
  padding-top: 16px;
  border-top: 1px solid var(--light-gray);

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  span {
    display: flex;
  }
}
.filter-block-title {
  font-size: 15px;
}
.filter-arrow {
  margin-left: 5px;
  transition: all 0.1s linear;
  &.active {
    transform: rotate(180deg);
  }
}
.filter-list {
  display: none;
  gap: 3px;
  &.active {
    display: flex;
    flex-direction: column;
  }
}
