.essentials {
  // .essentials_img

  &_img {
    width: 100%;
  }

  // .essentials__content

  &__content {
    display: flex;
    gap: 12px;
    @include mobile {
      flex-direction: column;
      gap: 20px;
    }
  }

  // .essentials__item

  &__item {
    max-height: 540px;
    position: relative;
    overflow: hidden;
    @include mobile {
      width: 100%;
      height: auto;
      max-height: 350px;
    }
  }
  & .button {
    position: absolute;
    bottom: 8.8%;
    left: 11%;
  }
}

.btn--light {
}
