.footer {
  // .footer__inner
  flex: 0 0 auto;
  width: 100%;
  margin-top: 50px;
  background-color: var(--black);
  &__inner {
    display: flex;
    flex-direction: column;
  }
  @include tablet {
    margin-top: 35px;
  }

  // .footer__content

  &__content {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
      gap: 15px;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
    }
  }

  // .footer__links

  &__links {
    font-size: 11px;
    font-family: var(--regular-font-family);
    margin: 15px 0;
    text-transform: capitalize;
    color: var(--dark-gray);
    &:visited {
      color: var(--dark-gray);
    }
  }
}
.container {
}
.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  @include mobile {
    flex-direction: row;
    gap: 15px;
  }
}
.accent-link {
  text-transform: uppercase;
  &:visited {
    color: var(--light-color);
  }
  color: var(--light-color);
  @include mobile {
    font-size: 10px;
    line-height: 1.5;
    text-align: center;
  }
}
.social-links {
  display: flex;
  justify-content: right;
  flex: 3;
  @include mobile {
    img {
      width: 26px;
      height: auto;
    }
  }
}
.social-link {
  margin: 0 16px;
}
.foter {
  // .foter__copytight

  &__copytight {
    align-items: center;
    padding: 20px 0;
    display: flex;
    color: var(--dark-gray);
    width: 100%;
    justify-content: space-between;
    @include mobile {
      flex-direction: column-reverse;
      gap: 15px;
    }
  }
}
.location {
  font-size: 12px;
  color: var(--light-color);
  span {
    margin-right: 3px;
  }
  &:visited {
    color: var(--light-color);
  }
  padding-right: 15px;
  float: left;
}
.copyright {
  font-size: 10px;
  float: left;
  flex: 1;
}
.footer-copyright-nav {
  flex: 3;
  justify-content: right;
  display: flex;
  @include small-tablet {
    font-size: 13px;
    // flex-direction: column;
  }

  li {
    margin: 0 25px;
    @include tablet {
      margin: 0 15px;
    }
    @include mobile {
      font-size: 11px;
      margin-bottom: 15px;
    }
  }
}
