.section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    text-transform: uppercase;
    font-family: "HelveticaNeueRegular", sans-serif;
    font-size: 54px;
    margin-bottom: 24px;
  }
  &__name {
    font-size: 22px;
    text-align: left;
    margin-bottom: 25px;
  }
  &__text {
    font-family: "HelveticaNeueRegular", sans-serif;
    margin-bottom: 30px;

    line-height: 1.6;
  }
  &__img {
  }
}
