.slider {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    align-items: center;
  }
  // .slider__title
  &__title {
    font-size: 22px;
  }
}
.sldier {
  margin-bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.product-slider {
}
.slide {
}
.product-slide {
}

.slider-btns {
  display: flex;
}
.back-btn,
.prev-btn {
  width: 48px;
  height: 48px;
  background-color: #e5e5e5;
  position: relative;
  border-radius: 50%;
  &.disable {
    opacity: 0.3;
    // background-color: #f5f5f5;
    // &::before {
    //   transform: rotate(0deg);
    background-image: url("../../../public/img/svg/arrow-slidersvg-disable.svg")
      no-repeat;
    // }
  }
  &::before {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    width: 9px;
    height: 16px;
    background-image: url("../../../public/img/svg/arrow-slidersvg.svg");
  }
}
.back-btn {
  transform: rotate(180deg);
}
.prev-btn {
  margin-left: 12px;
}
